.features {
  grid-column: center-start / center-end;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: flex-start;
  }
  
  margin: 15rem 0;
}

.feature {
  float: left;
  width: 33.33%;
  margin-bottom: 6rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem 2.5rem;

  &__icon {
    grid-row: 1 / span 2;
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}